{{$context := .}}
        {{$resource := .Resource}}
{{if len .Result}}
<table class="mdl-data-table mdl-js-data-table qor-table qor-js-table">
    <thead>
    <tr>
        {{$order_by := $context.Request.URL.Query.Get "order_by"}}
        {{/*读取table头部, 先将数据库表中的字段，封装成sections, 然后将section转换为metas*/}}
        {{$metas := convert_sections_to_metas $resource index_sections}}
        {{range $index, $meta := $metas}}
            {{/*调用admin/meta的DBName()方法*/}}
            {{$dbName := $meta.DBName}}
            {{$is_sorted := eq $order_by $dbName}}
            {{$is_desc_sorted := eq $order_by (print $dbName "_desc")}}
        <th class="mdl-data-table__cell--non-numeric {{if is_sortable_meta $meta}}{{if (or $is_sorted $is_desc_sorted)}}is-sorted{{end}}{{end}}" data-heading="{{$meta.Name}}" {{if is_sortable_meta $meta}}{{if $is_sorted}}data-order-by="{{$dbName}}_desc"{{else}}data-order-by="{{$dbName}}"{{end}}{{end}}>
        {{meta_label $meta}}
        </th>
        {{end}}
    </tr>
    </thead>
    <tbody>
    
    </tbody>
</table>
{{end}}