<!DOCTYPE html>
<html lang="en-US">
<head>
    {{$title := page_title}}
    <title>{{if $title}}{{$title}} - {{end}}{{if .Admin.SiteName}}{{t .Admin.SiteName}}{{else}}{{t "CMS"}}{{end}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Stylesheets -->
    {{stylesheet_tag "admin_default"}}
    {{/* site/app/views/system/assets/stylesheets/sitename*/}}
    {{load_admin_stylesheets}}
    {{load_theme_stylesheets}}
    {{/* admin/views/assets/javascripts/vendors.js*/}}
    {{javascript_tag "vendors"}}
</head>
<body>
<!--[if lt IE 10]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header qor-layout">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            {{$actions := load_actions "header" }}
            {{if $actions}}
            {{$actions}}
            {{end}}
        </div>
    </header>
</div>
</body>

</html>