<div class="qor-page__body">
    <div class="qor-section introduction">
        <h5>This is the DEMO app for Qor</h5>
        Github: <a href="http://github.com/qor/qor" target="_blank">github.com/qor/qor</a><br/>
        WebSite: <a href="http://getqor.com" target="_blank">getqor.com</a><br/>
        Source code of this demo: <a href="http://github.com/qor/qor-example" target="_blank">github.com/qor/qor-example</a><br/>
    </div>
</div>